body {
  margin: 16px;
  font-size: 18pt;
}

/******************************************************************************/
.headline {
  font-size: 1em;
  font-weight: bolder;
  display: flex;
  gap: 1em;
}
.headline--path {
  display: none;
}
.headline--name {
  display: block;
}
.headline::before {
  content: "Folder Name: ";
}

.controls, .entries {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.entry--header {
  display: none;
}

.control, .entry {
  width: 100%;
  cursor: pointer;
}

.control:nth-child(2n + 1), .entry:nth-child(2n) {
  background-color: #ddd;
}

.control, .entry__name {
  display: flex;
  width: 100%;
  padding: 0 10px;
}

.control__icon, .entry__name__icon {
  flex: 0 0 16px;
  height: 16px;
  margin-right: 8px;
  align-self: center;
  background-color: #99f;
}

.control__name, .entry__name__name {
  flex: 1 0 calc(100% - 32px - 10px);
  overflow-wrap: anywhere;
}

.entry__type, .entry__size {
  display: none;
}

@media (min-width: 792px) {
  body {
    margin: 1.6rem;
    font-size: 18pt;
  }

  /******************************************************************************/
  .headline {
    font-size: 1.6em;
    font-weight: bolder;
    display: flex;
    gap: 1em;
  }
  .headline--path {
    display: block;
  }
  .headline--name {
    display: none;
  }
  .headline::before {
    content: "Directory: ";
  }

  .controls {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  
  .control {
    display: flex;
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .control:nth-child(2n + 1) {
    background-color: initial;
  }
  
  .control__name {
    flex: 1 0 100%;
  }
  
  .control__name::before {
    content: "Go to ";
  }
  
  .entries {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
  
  .entry--header, .entry {
    display: flex;
    width: 100%;
  }

  .entry__name--header, .entry__type--header, .entry__size--header {
    text-align: center;
    font-weight: bolder;
    border: solid 1px #ccc;
  }

  .entry__name--header, .entry__name {
    flex-basis: calc(100% - 14em);
  }

  .entry__type--header, .entry__type {
    flex-basis: 7em;
  }

  .entry__size--header, .entry__size {
    flex-basis: 7em;
  }

  .entry__name, .entry__type, .entry__size {
    display: flex;
    padding: 8px 16px;
  }
  
  .entry__size {
    text-align: right;
  }
}

@media (min-width: calc(1024px + 1.6rem)) {
  body {
    max-width: 1024px;
    margin: 1.6rem auto;
    font-size: 12pt;
  }
}
