/******************************************************************************/
body {
  margin: 16px;
  font-size: 18pt;
}

/******************************************************************************/
.headline {
  font-size: 1.6em;
  font-weight: bolder;
  width: 100%;
  text-align: center;
}

.sub-headline {
  font-size: 1em;
  font-weight: bolder;
  width: 100%;
  text-align: center;
}

/******************************************************************************/
.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.control {
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 0 10px;
  align-items: stretch;
  justify-content: center;
}

.control:nth-child(2n + 1) {
  background-color: #ddd;
}


.control__icon {
  flex: 0 0 16px;
  height: 16px;
  margin-right: 8px;
  align-self: center;
  background-color: #99f;
}

.control__name {
  flex: 1 0 calc(100% - 16px - 8px);
  overflow-wrap: anywhere;
  justify-self: start;
  text-align: left;
}

/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
@media (min-width: 792px) {
  /****************************************************************************/
  body {
    margin: 1.6rem;
    font-size: 16pt;
  }

  /****************************************************************************/
  .headline {
    font-size: 2.6em;
    font-weight: bolder;
    width: 100%;
  }

  .sub-headline {
    font-size: 1.6em;
    font-weight: bolder;
    width: 100%;
    text-align: center;
  }

  /****************************************************************************/
  .controls {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    align-items: stretch;
    justify-content: center;
  }

  .control {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    max-width: 792px;
  }

  .control:nth-child(2n + 1) {
    background-color: #ddd;
  }

  .control__icon {
    flex: 0 0 16px;
    height: 16px;
    margin-right: 8px;
    align-self: center;
    background-color: #99f;
  }

  .control__name {
    flex: 1 0 calc(100% - 16px - 8px);
    overflow-wrap: anywhere;
    justify-self: start;
    text-align: left;
  }
}

@media (min-width: calc(1024px + 3.2rem)) {
  body {
    max-width: 1024px;
    margin: 1.6rem auto;
  }
}
