/******************************************************************************/
body {
  margin: 16px;
  font-size: 18pt;
}

/******************************************************************************/
.headline {
  font-size: 1em;
  font-weight: bolder;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

/******************************************************************************/
.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.control {
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 0 10px;
}

.control:nth-child(2n + 1) {
  background-color: #ddd;
}

.control__icon {
  flex: 0 0 16px;
  height: 16px;
  margin-right: 8px;
  align-self: center;
  background-color: #99f;
}

.control__name {
  flex: 1 0 calc(100% - 16px - 8px);
  overflow-wrap: anywhere;
}

/******************************************************************************/
.player {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player__video, .player__audio, .player__image, .player__unknown {
  display: block;
  min-width: 0;
  max-width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.player__audio {
  width: 100%;
}
  
.player__image {
  border: dashed 2px black;
  padding: 4px;
}

.player[data-src-type="unknown"] > .player__video, 
.player[data-src-type="unknown"] > .player__audio, 
.player[data-src-type="unknown"] > .player__image,

.player[data-src-type="video"] > .player__audio, 
.player[data-src-type="video"] > .player__image,
.player[data-src-type="video"] > .player__unknown,

.player[data-src-type="audio"] > .player__video, 
.player[data-src-type="audio"] > .player__image,
.player[data-src-type="audio"] > .player__unknown,

.player[data-src-type="image"] > .player__video, 
.player[data-src-type="image"] > .player__audio, 
.player[data-src-type="image"] > .player__unknown
{
  display: none;
}

/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
@media (min-width: 792px) {
  /****************************************************************************/
  body {
    margin: 32px;
    font-size: 16pt;
  }

  /****************************************************************************/
  .headline {
    font-size: 1.6em;
    font-weight: bolder;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  
  .headline::before {
    content: "File name: ";
  }

  /****************************************************************************/
  .controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .control {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }

  .control:nth-child(2n + 1) {
    background-color: #ddd;
  }

  .control__icon {
    flex: 0 0 16px;
    height: 16px;
    margin-right: 8px;
    align-self: center;
    background-color: #99f;
  }

  .control__name {
    flex: 1 0 calc(100% - 16px - 8px);
    overflow-wrap: anywhere;
  }

  /****************************************************************************/
  .player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  
  .player__video, .player__audio, .player__image, .player__unknown {
    display: block;
    min-width: 0;
    max-width: 100%;
    max-height: 100vh;
  }

  .player__audio {
    width: 100%;
  }
  
  .player__image {
    border: dashed 2px black;
    padding: 4px;
  }
  
  .player[data-src-type="unknown"] > .player__video, 
  .player[data-src-type="unknown"] > .player__audio, 
  .player[data-src-type="unknown"] > .player__image,

  .player[data-src-type="video"] > .player__audio, 
  .player[data-src-type="video"] > .player__image,
  .player[data-src-type="video"] > .player__unknown,

  .player[data-src-type="audio"] > .player__video, 
  .player[data-src-type="audio"] > .player__image,
  .player[data-src-type="audio"] > .player__unknown,

  .player[data-src-type="image"] > .player__video, 
  .player[data-src-type="image"] > .player__audio, 
  .player[data-src-type="image"] > .player__unknown
  {
    display: none;
  }
}

/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
@media (min-width: calc(1024px + 64px)) {
  body {
    max-width: 1024px;
    margin: 32px auto;
    font-size: 12pt;
  }

  /****************************************************************************/
  .headline {
    font-size: 2.6em;
    font-weight: bolder;
    width: 100%;
  }
  
  .headline::before {
    content: "File name: ";
  }
}

